<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/template :: head}">
</head>
<body>
<header th:replace="~{template/template :: header}"></header>

<div class="container">
    <h1 th:text="${title}"></h1>
</div>

<div class="container p-3 my-3 bg-dark text-white">
    <form th:action="@{/branch/save}" th:object="${branch}" method="post">

		<input type="hidden" th:field="*{id}">
		<label for="branchName">Branch Name:</label>
		<input type="text" th:field="*{branchName}" class="form-control" placeholder="-Enter the Branch Name-">
		<!--<small class="form-text text-danger" th:if="${#fields.hasErrors('branchName')}" th:errors="*{branchName}"> </small> -->

		<label for="country">Country:</label>
		<select th:field="*{country}" class="form-control" id="country">
			<option value=""> -Select Country-</option>
			<option th:each="country:${countries}"
					th:value="${country.id}"
					th:text="${country.name}"></option>
		</select>
		<button type="submit" class="btn btn-warning" th:text="${button}" style="margin-top: 20px;"></button>

	</form>

</div>

<div class="text-center">
    <a class="btn btn-primary" th:href="@{/}">Back to Home</a>
</div>

<!--
	<footer th:replace="~{template/template :: footer}"></footer>
-->

</body>
</html>